<%- include('./layouts/header') %>

<%- include('./layouts/sidebar') %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid py-5">

                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="card">
                            <div class="card-body taskboard-box">
                                <!-- <h4 class="header-title mt-0 mb-3 text-primary">Upcoming</h4> -->

                                <ul class="sortable-list list-unstyled taskList" id="upcoming">
                                    <li>
                                        <div class="kanban-box">
                                            <div class="kanban-detail">
                                                <span class="badge bg-success float-end p-2">5</span>
                                                <h5 class="mt-0">
                                                    <a href="#" class="text-dark">
                                                        Total Category
                                                    </a> 
                                                </h5>
                                               
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                                <!-- <div class="text-center pt-2">
                                    <a data-bs-toggle="modal" data-bs-target="#custom-modal"
                                        class="btn btn-primary waves-effect waves-light" data-animation="fadein"
                                        data-plugin="custommodal" data-overlaySpeed="200" data-overlayColor="#36404a">
                                        <i class="mdi mdi-plus"></i> Add New
                                    </a>
                                </div> -->
                            </div>
                        </div>

                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-4">
                        <div class="card">
                            <div class="card-body taskboard-box">
                                <!-- <h4 class="header-title mt-0 mb-3 text-primary">Upcoming</h4> -->

                                <ul class="sortable-list list-unstyled taskList" id="upcoming">
                                    <li>
                                        <div class="kanban-box">
                                            <div class="kanban-detail">
                                                <span class="badge bg-success float-end p-2">3</span>
                                                <h5 class="mt-0">
                                                    <a href="#" class="text-dark">
                                                        Total Sub Category
                                                    </a> 
                                                </h5>
                                               
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4">
                        <div class="card">
                            <div class="card-body taskboard-box">
                                <!-- <h4 class="header-title mt-0 mb-3 text-primary">Upcoming</h4> -->

                                <ul class="sortable-list list-unstyled taskList" id="upcoming">
                                    <li>
                                        <div class="kanban-box">
                                            <div class="kanban-detail">
                                                <span class="badge bg-success float-end p-2">23</span>
                                                <h5 class="mt-0">
                                                    <a href="#" class="text-dark">
                                                        Total Order
                                                    </a> 
                                                </h5>
                                               
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- end col -->

                </div><!-- end row -->
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="card">
                            <div class="card-body taskboard-box">
                                <!-- <h4 class="header-title mt-0 mb-3 text-primary">Upcoming</h4> -->

                                <ul class="sortable-list list-unstyled taskList" id="upcoming">
                                    <li>
                                        <div class="kanban-box">
                                            <div class="kanban-detail">
                                                <span class="badge bg-success float-end p-2">35</span>
                                                <h5 class="mt-0">
                                                    <a href="#" class="text-dark">
                                                        Total Product
                                                    </a> 
                                                </h5>
                                               
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-4">
                        <div class="card">
                            <div class="card-body taskboard-box">
                                <!-- <h4 class="header-title mt-0 mb-3 text-primary">Upcoming</h4> -->

                                <ul class="sortable-list list-unstyled taskList" id="upcoming">
                                    <li>
                                        <div class="kanban-box">
                                            <div class="kanban-detail">
                                                <span class="badge bg-success float-end p-2">6</span>
                                                <h5 class="mt-0">
                                                    <a href="#" class="text-dark">
                                                        Total Brand
                                                    </a> 
                                                </h5>
                                               
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- end col -->
                    
                    <!--2nd Line-->
                    <div class="col-lg-4 col-md-4">
                        <div class="card">
                            <div class="card-body taskboard-box">
                                <!-- <h4 class="header-title mt-0 mb-3 text-primary">Upcoming</h4> -->

                                <ul class="sortable-list list-unstyled taskList" id="upcoming">
                                    <li>
                                        <div class="kanban-box">
                                            <div class="kanban-detail">
                                                <span class="badge bg-success float-end p-2">15</span>
                                                <h5 class="mt-0">
                                                    <a href="#" class="text-dark">
                                                        Total Success Order
                                                    </a> 
                                                </h5>
                                               
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- end col -->

                </div><!-- end row -->

            </div> <!-- container -->

        </div> <!-- content -->

      

    </div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->

</div>
<!-- END wrapper -->

<!-- Modal -->
<div class="modal fade" id="custom-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myCenterModalLabel">Add New</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="mb-3">
                        <label class="form-label" for="name">Task Name</label>
                        <input type="text" class="form-control" id="name" placeholder="">
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="assign">Assign to</label>
                                <input type="text" class="form-control" id="assign" placeholder="">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="priority">Priority</label>
                                <input type="text" class="form-control" id="priority" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="Sdate">Start Date</label>
                                <input type="text" class="form-control" id="Sdate" placeholder="">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label" for="Ddate">Due Date</label>
                                <input type="text" class="form-control" id="Ddate" placeholder="">
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success waves-effect waves-light me-1">Save</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light"
                        data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<%- include('./layouts/footer') %>



   
