  <!-- Footer Start -->
  <footer class="footer bg-slate-900">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-6 ">
              <p class="">All Rights Reserved
                <script>document.write(new Date().getFullYear())</script> &copy; </a> 
              </p>
            </div>
            <div class="col-md-6 col-lg-6 text-end">
              <p>Develop By <span class="text-black"><b>Foysal Ahamed</b></span>
              </p>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->
  <!-- Vendor -->
  <script src="assets/libs/jquery/jquery.min.js"></script>
  <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/libs/simplebar/simplebar.min.js"></script>
  <script src="assets/libs/node-waves/waves.min.js"></script>
  <script src="assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
  <script src="assets/libs/jquery.counterup/jquery.counterup.min.js"></script>
  <script src="assets/libs/feather-icons/feather.min.js"></script>

  <!-- <script src="assets/libs/sortablejs/Sortable.min.js"></script> -->

  <!-- Jquery Ui js -->
  <script src="assets/libs/jquery-ui/jquery-ui.min.js"></script>

  <!-- Modal-Effect -->
  <script src="assets/libs/custombox/custombox.min.js"></script>

  <!-- Init -->
  <script src="assets/js/pages/kanban.init.js"></script>

  <!-- draggable init -->
  <!-- <script src="assets/js/pages/draggable.init.js"></script> -->

  <!-- App js -->
  <script src="assets/js/app.min.js"></script>

</body>

</html>